@model IEnumerable<UserListViewModel>
@using OwlTesting.ViewModels

<div class="top-buffer"></div>
<div class="panel panel-success">
    <div class="panel-heading panel-head">Users</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditUserModal" data-toggle="modal" asp-action="AddUser" data-target="#modal-action-user" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>  Додати користувача
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped">
            <thead>
				<tr>
					<th>Нікнейм</th>
					<th>Електрона пошта</th>
					<th>ПІБ</th>
					<th>Дії</th>
				</tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
				{
					<tr>
						<td>@item.Name</td>
						<td>@item.Email</td>
						<td>@item.FullName</td>
						<td>
							<a id="editUserModal" data-toggle="modal" asp-action="EditUser" asp-route-id="@item.Id" data-target="#modal-action-user"
							   class="btn btn-primary">
								<i class="glyphicon glyphicon-pencil"></i>  Редагувати
							</a>
							<a id="deleteUserModal" data-toggle="modal" asp-action="DeleteUser" asp-route-id="@item.Id" data-target="#modal-action-user" class="btn btn-danger">
								<i class="glyphicon glyphicon-trash"></i>  Видалити
							</a>
						</td>
					</tr>
				}
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-user", AreaLabeledId = "modal-action-user-label", Size = ModalSize.Medium })

@section scripts
{
    <script src="~/js/user-index.js" asp-append-version="true"></script>
}